@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

/* shared styles */
.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    border: 0;
    padding: 20px 25px;
    cursor: pointer;
}

* {
    border: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.nav-tittle {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    margin-right: 50px;
}

/* banner section */
.banner-content {
    max-width: 860px;
    text-align: center;
    margin: auto;
    padding-top: 100px;
}

.banner-tittle {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner-description {
    color: #727272;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 30px;
}

.banner img {
    padding-top: 50px;
    width: 100%;
}


/* team style section */
main {
    max-width: 1440px;
    margin: 80px auto;
}

.team-container {
    display: flex;
    align-items: center;

}

.team-content-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    border-radius: 8px;
}

.team-content {
    padding-left: 75px;
    padding-right: 75px;
}

.team-description {
    color: #727272;
    font-weight: 400;
    padding-top: 25px;
    padding-bottom: 30px;
}

.team-tittle {
    font-size: 3rem;
}

.team-QL {
    color: #727272;
    font-weight: 500;
}

.team-FT {
    color: #FF900E;
    font-weight: 700;
}

/* features section */


/* facts section */
.fact-tittle {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    padding-top: 130px;
}

.fact-description {
    color: #727272;
    font-weight: 400;
    padding-bottom: 100px;
    padding-top: 25px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.facts-card-container .cards {
    border-radius: 8px;
    border: 1px solid #FF900E;
    padding: 40px 30px;
}

.fact-state {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
}

.fact-tittle {
    color: #727272;
    font-size: 1.5rem;
    font-weight: 600;
}


/* sponsor section */
.sponsor-head{
    text-align: center;
}

.sponsor-img-container{
    display: flex;
    justify-content: space-evenly;
}

/* resposive section */

/* mobile device */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .team-container,
    .facts-card-container,
    .sponsor-img-container {
        flex-direction: column;
    }

    .team-content-img {
        grid-template-columns: 1fr;
    }
    .sponsor-img{
        margin: auto;
        padding-top: 20px;
    }
}

/* tablet or medium device */
@media screen and (min-width:576px) and (max-width: 992px) {
    header {
        padding: 50px;
    }

    nav,
    .team-container, 
    .sponsor-img-container {
        flex-direction: column;
    }

    .team-content-img {
        padding-bottom: 30px;
    }
    .sponsor-img{
        margin: auto;
        padding-top: 20px;
    }
}